# Global environment variables

# API
API_URL=http://localhost:3000

# Web App
NEXT_PUBLIC_API_URL=http://localhost:3000

# Mobile App (set in app.config.js)
# EXPO_PUBLIC_API_URL=http://localhost:3000
